<h1 class="text-center">Trabalho - Ferramentas de Desenvolvimento Web</h1>

<!--aplicação de classes do bootstrap para criar um visual de tab-->
<div class='mt-5'>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#lista">Lista de alunos</a>
    </li>
  </ul>
</div>

<!--aplicação de classes do bootstrap para criar uma tabela dentro da tab, com as linhas demarcadas por separadores-->
<div class="tab-content">
  <div id="lista" class="container tab-pane active"><br>
    <h3>Lista de alunos</h3>
    <table class="table table-striped">
      <tr><th>Nome</th><th>RU</th><th>Curso</th><th>Data de nascimento</th></tr>
      <ng-container *ngFor="let aluno of lista_alunos"><!--estrutura de repetição do angular ngFor que vai gerar novas linhas na tabela-->
        <tr><td>{{ aluno.nome }}</td><td>{{ aluno.ru }}</td><td>{{ aluno.curso }}</td><td>{{ aluno.dt_nascimento }}</td></tr><!--determina como os dados importados do arquivo.ts serão dispostos nas linhas geradas-->
      </ng-container>
    </table>
  </div>
</div>